/* custom variables */
:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
}

html {
  font-size: 16px;
}
body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
figure {
  margin: 1.5rem;
}
.card {
  max-width: 24rem;
  max-height: 32.625rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: var(--gray-950) 0.5rem 0.5rem;
  transition: box-shadow 0.3s ease;
}

figure img {
  max-width: 21rem;
  max-height: 12.5rem;
  border-radius: 0.625rem;
}

figcaption {
  max-width: 21rem;
  max-height: 12.125rem;
}

h1 {
  background-color: var(--yellow);
  max-width: 3.625rem;
  max-height: 1.3125rem;
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding: 0.25rem 0.75rem;
  color: var(--gray-950);
}

time {
  display: block;
  max-width: 8.9375rem;
  max-height: 1.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--gray-950);
}

h2 {
  max-width: 21rem;
  max-height: 2.25rem;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0.75rem;
  color: var(--gray-950);
  transition: color 0.3s ease;
}

figure p {
  max-width: 21rem;
  max-height: 4.5rem;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--gray-500);
}

footer {
  max-width: 8.0625rem;
  max-height: 2rem;
  margin: 1.5rem 14.4375rem 1.5rem 1.5rem;
  display: flex;
}
footer img {
  max-width: 2rem;
  max-height: 2rem;
}
footer p {
  max-width: 5.3125rem;
  max-height: 1.3125rem;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--gray-950);
  margin-top: 0.34375rem;
  margin-bottom: 0.34375rem;
  margin-left: 0.75rem;
}

.card:hover {
  box-shadow: var(--gray-950) 0.7rem 0.7rem;
  cursor: url(./assets/images/Pointer.png), auto;
}

.card:hover h2 {
  color: var(--yellow);
}

@media only screen and (max-width: 460px) {
  .card {
    max-width: 20.4375rem;
    max-height: 31.3125rem;
  }
  figure img {
    max-width: 17.4375rem;
    max-height: 12.5rem;
  }
  figcaption {
    max-width: 17.4375rem;
    max-height: 10.8125rem;
  }
  h1 {
    max-width: 3.0625rem;
    max-height: 1.125rem;
    font-size: 0.75rem;
  }
  time {
    max-width: 7.6875rem;
    max-height: 1.125rem;
    font-size: 0.75rem;
  }
  h2 {
    max-width: 17.4375rem;
    max-height: 1.875rem;
    font-size: 1.25rem;
  }
  figure p {
    max-width: 17.4375rem;
    max-height: 3.9375rem;
    font-size: 0.875rem;
  }

  footer {
    margin: 1.5rem 10.9375rem 1.5rem 1.5rem;
  }
  .card:hover {
    box-shadow: initial;
    cursor: initial;
  }

  .card:hover h2 {
    color: initial;
  }
}
